# What is pandas-python? Introduction and Installation

Pandas is python module that makes data science easy and effective

Weather dataset

Questions?

1. What was the maximum temparature in new york in the month of january?

2. On which days did it rains?

3. What was the average speed of wind during the month?

First we will see in python code

In [5]:
# now we will see in pandas 
import pandas as pd
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [ ]:
from google.colab import drive
drive.mount('https://drive.google.com/file/d/1KxwFsL6IF7OD_XN28kjxl0-amnELIhZ8/view?usp=sharing')

In [7]:
#get the maximum temparature 
df['temperature'].max()

35

In [8]:
#to know which day it rains
df['day'][df['event'] == 'Rain']

0    1/1/2017
4    1/5/2017
Name: day, dtype: object

In [9]:
#3. average wind speed
df['windspeed'].mean()

4.666666666666667

# Installation


pip3 install pandas